{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./app/assets/css/main.css",
  "tailwindAttributes": ["ui", "class", "activeClass", "inactiveClass"]
}
