@import 'tailwindcss';
@import '@nuxt/ui';

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-heading: 'Space Grotesk', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}

body {
  @apply font-sans;
}
